<style type="text/css">
  .header {
    background: #8a8a8a;
  }
  .header .columns {
    padding-bottom: 0;
  }
  .header p {
    color: #fff;
    padding-top: 15px;
  }
  .header .wrapper-inner {
    padding: 20px;
  }
  .header .container {
    background: transparent;
  }
  table.button.facebook table td {
    background: #3B5998 !important;
    border-color: #3B5998;
  }
  table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
  }
  table.button.google table td {
    background: #DB4A39 !important;
    border-color: #DB4A39;
  }
  .wrapper.secondary {
    background: #f3f3f3;
  }

  .icon {
    width: 40px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .background {

  }

</style>


<container>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">

      <p>Hi <%= @owner.first_name %>,</p>
      <p class="lead">Today, I wanted to let you know that <%= @event.user.first_name %> is having a <%= @event.title %> near your "<%= @parkingspot.title %>".</p>
      <p>The <%= @event.title %> is <%= @event.starttime.strftime("on %b %dth from %I:%M %p") %> <%= @event.endtime.strftime("until %I:%M %p") %> and <%= @event.user.first_name %> is requesting $<%= @event.suggested_price %> per hour.</p>
      <callout class="primary">
        <p>If you would like to rent out your "<%= @parkingspot.title %>", Click <%= link_to "here", new_session_url %> to sign in and add the spot on the <%= link_to "#{@event.title}", event_url(@event) %> event page.</p>
      </callout>
      <callout class="primary">
        <p>Thank you for using ParkMe,</p>
      </callout>
      <callout class="primary">
        <p>ParkMe Team</p>
      </callout>
    </columns>
  </row>
  <wrapper class="secondary">

    <spacer size="16"></spacer>
  </wrapper>
</container>
