<% bank = 0 %>

<div class="container">
  <h1 class="metoo">My ParkMe Profile</h1>
  <div class="fbform">
    <div class="box">
      <%= render "managementcalendar" %>
    </div>

    <div class="flexmeparkshow">

      <div class="box">
        <h2>My Spots</h2>
        <% current_user.parkingspots.each do |parkingspot| %>
        <% parkingspot.rentals.each do |rental| %>
        <% bank += rental.price %>
        <% end %>
        <%= link_to "#{parkingspot.title}", parkingspot_path(parkingspot) %> (<%= parkingspot.address %>)
        Total Earnings from this spot: $<%= bank %>
        <hr>
        <% end %>
      </div>

      <div class="box">
        <h2>Upcoming Reservations</h2>
        <% current_user.rentals.each do |rental| %>
        <h3>Parking spot: <%= rental.parkingspot.title %></h3>
        <% if rental.event != nil %>
        <h3>Event: <%= rental.event.title %></h3>
        <% end %>
        Time:(<%= rental.starttime %> - <%= rental.endtime %>)
        <hr>
        <% end %>
      </div>

    </div>
  </div>
</div>
