<h1>My Scoop Profile</h1>

    Spots
    <% current_user.parkingspots.each do |parkingspot| %>
    <%= link_to "#{parkingspot.title}", parkingspot_path(parkingspot) %> (<%= parkingspot.address %>)
    <% parkingspot.rentals.each do |rental| %>
    $<%= rental.price %>
    <% end %>
    <hr>
    <% end %>
    <%= render "managementcalendar" %>

    Events
    <% current_user.events.each do |event| %>
      <p><%= link_to "#{event.title}", event_path(event)%></p>
      <hr>
    <% end %>

    <% current_user.rentals.each do |rental| %>
      <h3>Parking spot: <%= rental.parkingspot.title %></h3>
      <% if rental.event != nil %>
        <h3>Event: <%= rental.event.title %></h3>
      <% end %>
      Time:(<%= rental.starttime %> - <%= rental.endtime %>)
      <hr>
    <% end %>
