<div id="signupmodal" class="modal container" style="z-index: 12">
  <div class="modal-content" >
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Sign Up</h2>
    </div>
    <div class="modal-body">
      <form>
        <legend>Create an Account</legend>
        <%= simple_form_for @user do |f| %>
          <%= f.input  :first_name %>
          <%= f.input  :last_name %>
          <%= f.input  :email %>
          <%= f.input  :password %>
          <%= f.input  :password_confirmation %>
          <%= f.button :submit, class: "btn-primary" %>
        <% end %>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  var signup = document.getElementById('signup');
  var signupmodal = document.getElementById('signupmodal');
  var span = document.getElementsByClassName("close")[0];
  signup.onclick = function() {
    signupmodal.style.display = "block";
  }
  span.onclick = function() {
    signupmodal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == signupmodal) {
        signupmodal.style.display = "none";
    }
}
});

</script>
