<div id="signinmodal" class="modal container" style="z-index: 12">
  <div class="modal-content" >
    <div class="modal-header">
      <span id="signinclose">×</span>
      <h2>Sign In</h2>
    </div>
    <div class="modal-body">
      <%= form_tag sessions_path do %>
        <div class="form-group">
          <%= label_tag :email %>
          <%= email_field_tag :email, "", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, "", class: "form-control" %>
        </div>
        <%= submit_tag "Sign In", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  var signin = document.getElementById('signin');
  var signinmodal = document.getElementById('signinmodal');
  var span = document.getElementById("signinclose");
  signin.onclick = function() {
    signinmodal.style.display = "block";
  }
  span.onclick = function() {
    console.log("Helo")
    signinmodal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == signinmodal) {
      signinmodal.style.display = "none";
    }
  }
});
</script>
