<h1>Add Event</h1>
<%= simple_form_for(@event, url:user_event_path(current_user, @event)) do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :address %>
<%= f.input :city %>
<%= f.input :state %>
<%= f.input :country %>
<%= f.input :start %>
<%= f.input :end %>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>
