<div class="container">
  <h1 class="metoo" style="margin-left:140px; margin-top:-20px;">Add Event</h1>
  <div class="formsizespotnew">
  <div class="fbform">
  <%= simple_form_for(@event, url: user_events_path(current_user)) do |f| %>
      <%= f.input :title, label: "Name", placeholder: 'E.g. House Party' %>
      <div class='row datetimerange'>
        <%= f.input :starttime, as: :datetime_picker, wrapper: :ranged_datetime %>
        <%= f.input :endtime, as: :datetime_picker, wrapper: :ranged_datetime %>
      </div>
      <%= f.input :description, placeholder: 'E.g. Come out for a good time!' %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :state, label: 'Province/State' %>
      <%= f.input :country %>
      <%= f.input :suggested_price, label: 'Suggested hourly parking price ($)'%>
      <%= f.input :notify, label: 'Notify nearby parkingspot holders?'%>
      <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>
</div>
