<div class="container">
  <h1 class="metoo" style="margin-left:40px; margin-top:-20px;"><%= @event.title %></h1>
  <div class="fbform">
    <div class="box">
      <% if event_owner? %>
      <%= link_to "Edit Event", edit_user_event_path(current_user, @event) %>
      <%= link_to "Delete Event", user_event_path(current_user, @event), method: :delete %>
      <% end %>
        <h4><%= image_tag ('user.png'), class:"icon" %>Event host: <%= @event.user.full_name %></h4>
        <h4><%= image_tag ('clock.png'), class:"icon" %><%= @event.starttime.strftime("On %b %dth from %I:%M %p") %> <%= @event.endtime.strftime("until %I:%M %p") %></h4>
        <h4><%= image_tag ('draw.png'), class:"icon" %>Details: <%= @event.description %></h4>
      </div>

      <div class="flexmeparkshow">

        <div class="flexmeparkshow" style= "flex-direction: column; margin-right: 30px; flex: 1.1;">
          <div class="box">
            <% if current_user && (event_owner? || current_user.parkingspots.empty?) %>
            <% elsif !@myparkingspots.empty? %>
              <h4>Offer My Spot(s)</h4>
            <% @myparkingspots.each do |parkingspot| %>
              <% if !find_rentals(@event, parkingspot) %>
              <div class="box tile hvr-underline-from-left" style="display: block; margin-left: 0px;">
                <h4 style="display:inline-block"><%= link_to "#{parkingspot.title}", event_parkingspot_rentals_path(@event, parkingspot), class: "rentspot", style: "color: white; text-decoration: none;", method: :post%></h4>
              </div>
              <% end %>
            <% end %>
            <% else %>
            <h4>No spots I own are in walking distance</h4>
            <% end %>
          </div>

          <div class="box">
            <% if @eventparking != [] %>
            <h4>Event Parking ($<%= @event.suggested_price %>/hr)</h4>
            <% @eventparking.each do |parkingspot| %>
              <div class="box tile" style="display: block; margin-left: 0px;">
                <%= parkingspot.title %> (<%= parkingspot.address %>)
                <% if !parkingspot_owner?(parkingspot) && !find_rentals(@event, parkingspot).user%>
                <%= form_tag event_parkingspot_rental_charges_path(@event, parkingspot, find_rentals(@event, parkingspot)) do %>
                  Amount: $<%= find_rentals(@event, parkingspot).price %>


            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description=""
            data-amount="<%= find_rentals(@event, parkingspot).price*100 %>"
            data-locale="auto"></script>

            <% end %>
            <% end %>
          </div>
            <% end %>
            <% else %>
            <h4> No spots offered at the moment...<%= image_tag ('sleepy.png'), class:"icon" %></h4>
            <% end %>
          </div>
        </div>

        <div class="box">
          <div class="container-fluid" id="map" style='width: 700px; height: 400px;'></div>
        </div>

      </div>

    </div>
  </div>



  <script>
  handler = Gmaps.build('Google');
  circle = {lng: <%= @event.longitude %>,
    lat: <%= @event.latitude %>,
    radius: 400,
  }
  circle_style = { strokeColor: '#009688', strokeOpacity: 1, strokeWeight: 3, fillColor: '#80CBC4' }
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    eventlocation = handler.addMarkers([
      {
        "lat": <%= @event.latitude %>,
        "lng": <%= @event.longitude %>,
        "infowindow": "<%= @event.title %>",
        "picture": {
          "url": "http://funkyimg.com/i/2feqw.png",
          "width": 64,
          "height": 64
        }
      },
    ]);
    markers = handler.addMarkers(<%=raw @markers_hash.to_json %>);
    handler.bounds.extendWith(eventlocation);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
    handler.addCircle(circle, circle_style)
  });
  </script>
