<div class="form">
  <h1><%= @event.title %></h1>
  <% if user_signed_in? && event_owner? %>
    <%= link_to "Edit Event", edit_user_event_path(current_user, @event) %>
    <%= link_to "Delete Event", user_event_path(current_user, @event), method: :delete %>
  <% end %>

  <h3>Organizer: <%= @event.user.full_name %></h3>
  <h4>Description: <%= @event.description %></h4>

  <% if !event_owner? %>
  <% if current_user.parkingspots.empty? %>
  <% elsif @myparkingspots %>
    <h2>Offer my nearby parkingspot(s)</h2>
    <% @myparkingspots.each do |parkingspot| %>
        <%= link_to "#{parkingspot.title}", event_parkingspot_rentals_path(@event, parkingspot.id), method: :post %>
      <hr>
    <% end %>
  <% else %>
    <h2>No spots I own are in walking distance</h2>
  <% end %>
  <% end %>

  <% if @eventparking != [] %>
    <h2>Event Parkingspots (Parking price: <%= @event.suggested_price %>)</h2>
    <% @eventparking.each do |parkingspot| %>
        <%= parkingspot.title %> (<%= parkingspot.full_street_address %>) <%= find_rentals(@event, parkingspot).price %>
        <% if parkingspot.user != current_user %>
          <%= link_to "Rent this spot",event_parkingspot_rental_charges_new_path(@event, parkingspot, find_rentals(@event, parkingspot)) %>
        <% end %>
        <hr>
    <% end %>
  <% else %>
    <h2> No Parkingspots offered at the moment...</h2>
  <% end %>

  <div id="map" style='width: 800px; height: 400px;'></div>
<div>


<script>
  handler = Gmaps.build('Google');
  circle = {lng: <%= @event.longitude %>,
            lat: <%= @event.latitude %>,
            radius: 560,
          }
  circle_style = { strokeColor:"red", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent' }
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    eventlocation = handler.addMarkers([
      {
        "lat": <%= @event.latitude %>,
        "lng": <%= @event.longitude %>,
        "infowindow": "<%= @event.title %>"
      },
    ]);
    markers = handler.addMarkers(<%=raw @markers_hash.to_json %>);
    handler.bounds.extendWith(eventlocation);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
    handler.addCircle(circle, circle_style)
  });
</script>
