<!-- The Modal -->
<div id="myModal" class="modal container" style="z-index: 10">
  <div class="modal-content" >
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Make Reservation</h2>
    </div>
    <div class="modal-body">
      <%= simple_form_for(@rental, url: parkingspot_rentals_path(@parkingspot), method: :get) do |f| %>
      <div class='row datetimerange'>
        <%= f.input :starttime, as: :datetime_picker, wrapper: :ranged_datetime %>
        <%= f.input :endtime, as: :datetime_picker, wrapper: :ranged_datetime %>
      </div>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<h2>Parkingspot Schedule</h2>
<% if @parkingspot.user != current_user %>
  <button id="reservationbutton" class="btn btn-primary">Make reservation</button>
  <script>
  $(document).ready(function() {
    var reservationbutton = document.getElementById('reservationbutton');
    var modal = document.getElementById('myModal');
    var span = document.getElementsByClassName("close")[0];
    reservationbutton.onclick = function() {
      modal.style.display = "block";
    }
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  });
  </script>
<% end %>

<div id="parkingspotcalendar"></div>

<script>
$(document).ready(function() {
  $('#parkingspotcalendar').html("")
  $('#parkingspotcalendar').fullCalendar({
    header: {
      left: 'prev,today,next',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    defaultView :'agendaWeek',
    height: 600,
    events: "/parkingspots/" + <%= @parkingspot.id %> +'/schedule.json',
    dayClick: function(date, jsEvent, view) {
      modal.style.display = "block";
    }
  });
});
</script>
