<div class="container">
  <div class="fbform">
    <div class="flexmeparkshow">
      <div class="box">
        <h1><%= @parkingspot.title %></h1>
        <h3>Owned by <%= @parkingspot.user.full_name %></h3>
        <% if user_signed_in? && parkingspot_owner?(@parkingspot) %>
        <%= link_to "Edit Parkingspot", edit_user_parkingspot_path(current_user, @parkingspot) %>
        <%= link_to "Delete Parkingspot", user_parkingspot_path(current_user, @parkingspot), method: :delete %>
        <% end %>
        <h3>Details: <%= @parkingspot.description %></h3>
      </div>

      <div class="box">
        <div id="map"style='width: 600px; height: 300px;'></div>
      </div>
    </div>

    <div class="box">
      <%= render "modalcalendar" %>
    </div>
  </div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @parkingspot.latitude %>,
      "lng": <%= @parkingspot.longitude %>,
      "infowindow": "<%= @parkingspot.title %>"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(16);
});
</script>
