<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top_nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Scoop", root_path, class: "navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Parking Spots", parkingspots_path %></li>
        <li><%= link_to "Events", events_path %></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li><a id="signin" href="#">Sign In</a></li>
              <div id="signinmodal" class="modal container" style="z-index: 12">
                <div class="modal-content" >
                  <div class="modal-header">
                    <span class="close">×</span>
                    <h2 id="signinbut">Sign In</h2>
                  </div>
                  <div class="modal-body">
                    <%= form_tag sessions_path do %>
                      <div class="form-group">
                        <%= label_tag :email %>
                        <%= email_field_tag :email, "", class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= label_tag :password %>
                        <%= password_field_tag :password, "", class: "form-control" %>
                      </div>
                      <%= submit_tag "Sign In", class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
              </div>
                <script>
                $(document).ready(function() {
                  var signin = document.getElementById('signin');
                  var signinmodal = document.getElementById('signinmodal');
                  var span = document.getElementsByClassName("close")[0];
                  signin.onclick = function() {
                    signinmodal.style.display = "block";
                  }
                  span.onclick = function() {
                    console.log("Helo")
                    signinmodal.style.display = "none";
                  }
                  window.onclick = function(event) {
                    console.log(event.target)
                    if (event.target == signinmodal) {
                      signinmodal.style.display = "none";
                    }
                  }
                });
                </script>
          <li><%= link_to"Sign Up", new_user_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <%= current_user.first_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li><%= link_to"Register Parkingspot", new_user_parkingspot_path(current_user)%></li>
              <li><%= link_to"Add Event", new_user_event_path(current_user)%></li>
              <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
